
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{ 
        var data = (string)ViewData["user"];
    }
    <p>username: @data</p>
</body>
</html>
