
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section header{
    Home Page
}
@{ 
    var data = (string)ViewData["user"];
}
<p>username-> @data </p>
